.container_hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  // background-color: #f3f2f2;
  background-color: transparent;


  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1224px;

    .slider-control {
      position: absolute;
      background-color: transparent;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 10;

      svg{
        width: 2rem;
        height: 2rem;
      }

      &.left{
        left: 1rem;
      }

      &.right{
        right: 1rem; 
      }

      &:hover svg:hover{
        color: #fff;
        background-color: #111;

      }
    }

    .CTA {
      flex: 1;
      font-family: var(--font-family);

      span {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        font-weight: 400;
      }

      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem 0;
      }

      .btn-cta {
        margin: 1rem 0;
        background-color: rgb(250, 49, 80);
        color: #fff;
        border: none;
        border-radius: 0.1rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }

    .hero_image {
      flex: 1;
      margin: 0 auto;
      padding: 1rem 0;
      img {
        width: 100%;
        height: 600px;
        object-fit: contain;
      }
    }
  }
}
