.container_hero {
  display: grid;
  place-items: center;
  background-color: #F3F2F2;
  width: 100%;
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .CTA {
    font-family: var(--font-family);
    padding: 3rem;
    max-width: 500px;
  
    span{
      font-size: 1rem;
      letter-spacing: .3rem;
      font-weight: 400;
    }
  
    h1{
      font-size: 3rem;
      font-weight: 700;
      margin: 1rem 0;
    }
    
    .btn-cta{
      margin: 1rem 0;
      background-color: rgb(250, 49, 80);
      color: #fff;
      border: none;
      border-radius: .1rem;
      padding: 1rem 2rem;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    
    .hero-image {
      padding: 3rem;
    }
  }

  .slider-control{
    .left_arrow{
      background-color: #efefef;
      padding: .5rem;
      border: none;
      position: absolute;
      font-size: 2.5rem;
      top: 50%;
      left: 0 auto;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 10;
    }
    .left_arrow:hover{
      color: #fff;
      background-color: #111;
    }

    .right_arrow{
      background-color: #efefef;
      padding: .5rem;
      border: none;
      position: absolute;
      font-size: 2.5rem;
      top: 50%;
      right: 0 auto;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 10;
    }

    .right_arrow:hover{
      color: #fff;
      background-color: #111;
    }
  }
}


