.container_topSellingProducts {
    background-color: white;
    padding: 3rem 9rem;
    display: flex;
    justify-content: center;

    .top_selling_product_image1 {
        margin-right: 2rem;
    }

    .campaign_text {
        background-color: white;
        padding: .6rem .1rem .2rem;
    }

    .top_selling_product_price {
        background-color: white;
        padding: .1rem 0rem .8rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;

        .price_line_through {
            text-decoration: line-through;
            color: gray;
        }

        .price_sale {
            color: gray;
            margin-right: 8rem;
        }

        .fa-shopping-cart {
            color: gray;
        }

        .fa-shopping-cart:hover {
            color: black;
            cursor: pointer;
        }
    }
}