.description_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1224px;
  margin: 2rem auto;
}

.description_box{
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 49, 80);
  color: #fff;
  border: 1px solid rgb(250, 49, 80);
  margin: 1rem 0;
  
  .description_title{
    font-size: 1rem;
    padding: .5rem 2rem;
    width: 50%;
  }

  .related_product_btn{
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    border: none;
    padding: .5rem 2rem;
    background: #fff;
    color: #333;
    width: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }

  .related_product_btn:hover{
    background: rgb(250, 49, 80);
    color: #fff;
  }
}

.description_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  // make bout div 50% width
  .description_info_box{
    width: 50%;
  }

  .description_info_title{
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .description_info_text{
    color: #888;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-right: 3rem;
  }

  .description_img{
    img{
      max-width: 469px;
      width: 50%;
    }
  }

  
}




// .container-details {
//   display: flex;
//   justify-content: space-between;
//   max-width: 1224px;
//   margin: 2rem auto;
// }

// .textContainer {
//   display: flex;
//   flex-direction: column;
// margin-left: 2rem;
// }

// .detailsTextInfo {
// color: #333;
//   font-family: var(--font-family);
//   margin-bottom: 1.5rem;
// }

// .quantity-decrement{
//     padding: 0.5rem;
// }

// .quantity-increment{
//     padding: 0.5rem;
// }

// .text-box{    
// border-bottom: 1px solid lightgrey ;
// }

// .quantity{
// padding: 0.4rem; 
// border: 0.1rem solid rgb(144, 133, 133); 
// }
// .quantity-group{
//     display: flex;
// }
// .quantityButton{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     text-align: center;
//     line-height: 1.2;
    
//     .addToCart-bnt{
//         background-color:rgb(250, 49, 80);
//         color: #fff;
//         font-family: var(--font-family);
//         margin-left: 1rem;
//         padding: 0.5rem 2.5rem 0.5rem 3.5rem;
//         border:none;
//         font-size: 1rem;
    
   
        
//          .fa-shopping-cart{
//             margin-top:3px;
//                 color: fff;
//                 margin-left: 1.2rem;
//                 font-size: 1.2rem;
//                 line-height: 1.2;
//             }
        
        
    
//     }
// }

// .imgBox{
//     img{
//         max-width: 501px;
//         height: 430px;
//     }
// }

// .price{
//     font-weight: 600;
//     font-size: 1.5rem;
//     margin: 2rem 0rem 2rem 0rem;
    
    
// }

// .dropDown-box{
//     margin-bottom: 2rem;
// }

// .selector{
// display: flex;
// flex-direction: column;
// }

