.btn-danger{
    align-items: center;
    font-size: 33px;
    // position: fixed; 
}

svg {
    margin-right: 0!important;
}

.btn-success{
    color: white!important;
}

.shopping-cart.open {
    display: block;
 
  }

 