// pages
@import './pages/cart/Cart.module.scss';
@import './pages/admin/Admin.module.scss';
@import './pages/home/Home.module.scss';
@import './pages/productDetails/ProductDetails.module.scss';
@import './pages/orderHistory/orderHistory.module.scss';
@import './pages/contact/Contact.module.scss';
@import './pages/products/Products.module.scss';
@import './pages/login/Login.module.scss';
@import './pages/register/Register.module.scss';

// components
@import './components/hero/Hero.scss';
@import './components/bestCollection/BestCollection.module.scss';
@import './components/footer/Footer.module.scss';
@import './components/campaign/Campaign.module.scss';
@import './components/slider/Carousel.module.scss';
@import './components/smallIcons/SmallIcons.module.scss';
@import './components/header/Header.module.scss';
@import './components/registerForm/RegisterForm.module.scss';
@import './components/loginForm/LoginForm.module.scss';