@import './pages/cart/Cart.module.scss';
@import './pages/admin/Admin.module.scss';
@import './pages/home/Home.module.scss';
@import './pages/orderHistory/orderHistory.module.scss';
@import './pages/contact/Contact.module.scss';



// components
@import './components/hero/Hero.scss';
@import './components/bestCollection/BestCollection.module.scss';
@import './components/footer/footer.module.scss'