@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
  --font-family: Poppins, sans-serif;
  
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

// .body {
//   font-family: var(--font-family);
// }

.main_container{
  max-width: 1024px;
}



