.register-wrap {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;

  .user-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input-box {
      margin: 1rem 0 1rem 0;
      width: calc(100% / 2 - 10px);

      label {
        display: block;
        font-weight: 300;
        margin-bottom: 0.3rem;
      }

      span {
        color: $red;
        font-size: 1rem;
      }

      input {
        height: 45px;
        width: 100%;
        border: transparent;
        padding-left: 1rem;
        background-color: $input-color;
        font-size: 1rem;
        align-items: center;
      }

      .terms {
        p {
          margin-top: 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .submit-btn{
    margin: 1rem 0;
    width: 100%;
    background-color: rgb(250, 49, 80);
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    border: 1px solid rgb(250, 49, 80);
    padding: .5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .submit-btn:hover{
    background-color: #fff;
    color: rgb(250, 49, 80);

  }

  .social_login_btn {
      margin-top: 0.5rem;
      width: 100%;
      color: rgb(250, 49, 80);
      background-color: #fff;
      border: 1px solid rgb(250, 49, 80);
      border-radius: 0.2rem;
      padding: .5rem 2rem;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .social_login_btn:hover {
      background-color: rgb(250, 49, 80);
      color: #fff;
    }
}
