.description_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1224px;
  margin: 2rem auto;
}

.description_box{
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 49, 80);
  color: #fff;
  border: 1px solid rgb(250, 49, 80);
  margin: 1rem 0;
  
  .description_title{
    font-size: 1rem;
    padding: .5rem 2rem;
    width: 50%;
  }

  .related_product_btn{
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    border: none;
    padding: .5rem 2rem;
    background: #fff;
    color: #333;
    width: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }

  .related_product_btn:hover{
    background: rgb(250, 49, 80);
    color: #fff;
  }
}

.description_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 0 1rem;

  .description_info_title{
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .description_info_text{
    color: #888;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-right: 3rem;
  }
}

