.top_selling-container{
  max-width: 1224px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  .top_selling-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .top_selling-products{
    max-width: 1224px;
    margin: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: lighter;
    gap: 1rem;
  }

  .slider-control{
    margin-top: 3rem;
    .left_arrow{
      background-color: #efefef;
      padding: .5rem;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      
    }
    
    .right_arrow{
      background-color: #efefef;
      padding: .5rem;
      border: none;
      position: absolute;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      
    }
    button:hover{
      color: #fff;
      background-color: #111;
    }
  }
}