.login-wrap {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;

  .user-details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        .input-box{
            margin: 1rem 0 1rem 0;

            label {
                display: block;
                font-weight: 300;
                margin-bottom: .3rem;
            }

            span{
                color: $red;
                font-size: 1rem;
            }

            .optional {
                color: rgb(165, 164, 164);
                font-size: 1rem;
                font-style: italic;
            }
            
            input{
                height: 45px;
                width: 100%;
                border: transparent;
                padding-left: 1rem;
                background-color: $input-color;
                font-size: 1rem;
                align-items: center;
                

            }

            .terms {
                display: inline-block;
                width: calc(200%);
               
                input {
                    height: 1rem;
                    margin-top: 1rem;
                    padding-right: .5rem;
                    
                }
                p{
                    font-size: .7rem;
                    
                }
            }
        }
    }
   

    button {
      margin: 1rem 0;
      background-color: rgb(250, 49, 80);
      color: #fff;
      border: none;
      border-radius: .1rem;
      padding: 1rem 2rem;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
}