.product_name{
  font-size: 1rem;
  font-weight: 500;
}

.product_category{
  font-size: 0.8rem;
  font-weight: 300;
  color: grey;
}

.product_card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product_btn{
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product_btn:hover{
  background-color: var(--dark-color);
}

.loader{
  margin-left: .2rem;
}